name: test-action

on:
  push:
  release:
    types:
      - published

jobs:
    test-dev:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - name: test-dev
          uses: dzelge/helm-update-version-tags@main
          with:
            app: my-app
            deployment-phase: dev
            delimiter: ' '
            tag: v1.0.1
            working-directory: ./test
#    test-stage:
#      runs-on: ubuntu-latest
#      steps:
#        - uses: actions/checkout@v2
#        - name: test-stage
#          uses: ./
#          with:
#            app: my-app
#            deployment-phase: stage
#            delimiter: ' '
#            tag: v1.0.1
#            working-directory: ./test
#    test-prod:
#      runs-on: ubuntu-latest
#      steps:
#        - uses: actions/checkout@v2
#        - name: test-stage
#          uses: ./
#          with:
#            app: my-app
#            deployment-phase: prod
#            delimiter: ' '
#            tag: v1.0.1
#            working-directory: ./test
